# Default ignored files
/../../../:LibraryOfThings/.idea/shelf/
/../../../:LibraryOfThings/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:LibraryOfThings/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:LibraryOfThings/.idea/dataSources/
/../../../:LibraryOfThings/.idea/dataSources.local.xml
